</div>
</div>
    <script>
        var rootUrl = '__ROOT__';
    </script>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/bower_components/jquery-form/jquery.form.js"></script>

    <script src="__PUBLIC__/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
    
    <script type="text/javascript" src="__PUBLIC__/bower_components/zTree_v3/js/jquery.ztree.core-3.5.js"></script>

    <script type="text/javascript" src="__PUBLIC__/bower_components/plupload/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bower_components/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bower_components/plupload/js/jquery.ui.plupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bower_components/plupload/js/zh_CN.js"></script>
    <script src="__PUBLIC__/bower_components/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="__PUBLIC__/bower_components/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/dist/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/dist/js/jquery-migrate-1.1.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/dist/js/jquery.jqprint-0.3.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__PUBLIC__/bower_components/raphael/raphael-min.js"></script>
    <!--script src="__PUBLIC__/bower_components/morrisjs/morris.min.js"></script-->
    <!--script src="__PUBLIC__/js/morris-data.js"></script-->

    <!-- Custom Theme JavaScript -->
    <script src="__PUBLIC__/dist/js/sb-admin-2.js"></script>

</body>

</html>