<include file='Index/header' />
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">导入信息</h3>
		</div>
		<div class="panel-body">
			<form method="post" enctype="multipart/form-data" action="__APP__/Admin/Personnel/uploadexcel">
			<input class="form-control" type="file" name="file" />
			<p class="help-block">请选择要上传的文件</p>
			<br/>
			<input class="btn btn-primary" type="submit" value="导入" />
			</form>
		</div>

	</div>
	
</div>
<include file='Index/footer' />